@page
@model pagesweb.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>All the Users</h2>

<p>
    <a asp-page="Create">Create a Member</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers[0].FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers[0].MobileOrEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUsers[0].Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileOrEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


